body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:60px;
    margin-right:20px;
    margin-bottom:20px;
    margin-left:70px;
    border-style:solid;
    border-width:2px;
    border-color:aqua;
    padding-top:20px;
    padding-right:20px;
    padding-bottom:20px;
    padding-left:20px;
    background-color:#C8E7FF;
}
h1{
    background-color: aqua;
    width:200px;
    height: 50px;
    margin-top: 50px;
    margin-right:50px;
    margin-bottom:30px;
    margin-left:30px;
    border:2px solid #64DFDF;
    padding:10px 10px 10px 10px;
}
p{
    display:inline;
    background-color: #C0FDFF;
}
span{
    display:block;
    background-color: #D0D1FF;
}
.box1{
    position: static;
    background-color:#D8BBFF;
    width:400px;
    height: 50px;
    top:0px;
    left:0px;

}

.box2{
    position:relative;
    background-color:#DEAAFF;
    width: 400px;
    height: 50px;
    bottom:50px;
    left:450px;
}
.box3{
    position: absolute;
    background-color: #E2AFFF;
    
}
.box4{
    position: fixed;
    background-color: #E5B3FE;
    width: 400px;
    height: 50px;

}
.box5{
    position: sticky;
    background-color: #ECBCFD;
    
}
.layer1{
    position: relative;
    background-color: #F3C4FB;
    width: 70px;
    height: 70px;
    bottom: 0px;
    left: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:1;

}
.layer2{
    position: relative;
    background-color: #FFCBF2;
    width:70px;
    height: 70px;
    bottom: 20px;
    left:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
